{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    Add New Category
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Add a New Category</h1>
    </div>
    <div>
        <form role="form" action="{% url 'rango:add_category' %}" id="category_form" method="post">
            <h4 class="form-signin-heading">
                Add New Category Here
            </h4>
            <div class="form-group">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
            {% endfor %}
            </div>
            <button class="btn btn-primary" type="submit" name="submit">Add Category</button>
        </form>
    </div>
{% endblock %}