{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body %}
    <div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'rango:add_page' category.slug %}">Add a new Page</a>
        </div>
        {% endif %}

    {% else %}
        <strong>The specified category does not exist!</strong>
    {% endif %}
    </div>

{% endblock %}