<ul class="nav nav-pills flex-column">
    {% if cats %}
        {% for category in cats %}
            {% if act_cat == category %}
            <li class="nav-item">
                <strong>
                    <a class="nav-link active" href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </strong>
            </li>
            {% else %}
            <li class="nav-itme">
                <a class="nav-link" href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
</ul>