{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="jumbotron">
    <h1>Rango says...
    <span>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
    </span>
    </h1>
    <h3> visits: {{ visits }}</h3>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Most Liked Categories</h4>
        {% if categories %}
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no category present.</strong>
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h4>Most Viewed Pages</h4>
        {% if pages %}
        <ul class="list-group">
            {% for page in pages %}
            <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }} ({{ page.views }} viewed)</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no page yet.</strong>
        {% endif %}
    </div>
</div>
    <div>
        <img src="{% static 'images/rango.gif' %}" />
    </div>
{% endblock %}